<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    bootstrap="bootstrap.php"
    backupGlobals="false"
    colors="true"
    convertErrorsToExceptions="true"
    convertNoticesToExceptions="true"
    convertWarningsToExceptions="true"
    >
    <coverage>
        <include>
            <directory suffix=".php">../includes</directory>
        </include>
    </coverage>
    <testsuites>
        <testsuite name="unit">
            <directory suffix="Test.php">./Unit</directory>
        </testsuite>
        <testsuite name="integration">
            <directory suffix="Test.php">./integration</directory>
        </testsuite>
    </testsuites>
    <php>
        <env name="WP_CORE_DIR" value="../../../../"/>
        <env name="WP_CONTENT_DIR" value="../../../"/>
        <env name="WP_PLUGIN_DIR" value="../../"/>
    </php>
</phpunit> 